html {
    position: relative;
    min-height: 100%;
}

body
{

}

button
{
    color:white;
}



.face
{

background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.cubebox
{
    width: 600px;
    border: 2px solid #404040;
    padding: 30px;
}

/*
div{border: 1px solid blue;}
a{border: 1px solid red;}   
i{border: 1px solid green;}
span{border: 1px solid yellow;}
img{border: 1px solid pink;}
hr{border: 1px solid orange;}
*/


.jumbotron{
    background-color: transparent !important;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#screen
{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid black;
    border-radius: 25px;
    height: 900px;
    overflow-y: hidden;

}

/********* style for blog page *********/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600');


#blogpage{

    /*overflow: scroll;*/
}

a {
   color:#333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


.img-responsive {
  width: 100%;
   opacity: 0.85 !important;
}
/* ------ main-page ------ */
.main-page{
    max-width:1000px;
    margin:0 auto;
}
.container{
    max-width:1000px;
    margin:0 auto;
}


/* ------ main-banner ------ */
.main-banner{
    margin-bottom:20px;
}

/* ------ page ------ */
.page{
    background-color:#fff;
    padding:20px 15px;
    margin-bottom:20px;
}
.page h3{
    font-size:22px;
    margin-bottom:12px;
}
.page p{
    font-size:17px;
    font-weight:500;
}
.page .details ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom:18px;
}
.page .details ul li{
   float:left;
   padding-right:15px;
   font-size: 13px;
   font-weight: 600;
}
.page .details ul li:last-child {
  float: inherit;
}
.page h4{
    font-size:13px;
    font-weight:600;
}
/* ------ wedgets ------ */
.widgets{
    background-color:#fff;
    padding:20px 15px;
    margin-bottom:20px;
}
.widgets h3{
    padding-bottom:10px;
    font-size:20px;
    margin-bottom:15px;
    border-bottom:1px solid #eaeaea;
}
.widgets ul{
    list-style: none;
    padding-left: 0px;
}
.widgets ul li{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.widgets h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#phone
{
    width: 200px;
    height: auto;
}

#chargingport
{
    width: 200px;
    height: auto;
}
   
    
.slideshow{
    padding-top: 30%; 
}













